div.add-page{
    margin-top: 60px;
    padding-left: 50%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.topic-label{
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

